/* * * * Universal style * * * */
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/* * * Layout styles * * * * */
.container {
  position: relative;
  height: 100vh; }

.header {
  width: 15%;
  position: relative;
  top: 0;
  left: 0; }

body {
  font-family: 'Coda', cursive; }

.card__deck--card {
  font-size: 0; }

.modal__header--main {
  font-size: 2rem; }
.modal__header--sub {
  font-size: 1rem; }
.modal__restart--btn {
  font-size: 2.5rem; }

.score__panel {
  font-size: 2rem; }

.modal__restart--btn {
  width: 50%;
  height: 3.5rem;
  border-radius: 1rem;
  background-color: transparent;
  color: rgba(165, 214, 167, 0.3);
  border: 0.1rem solid rgba(165, 214, 167, 0.3);
  z-index: 2; }
  .modal__restart--btn:hover {
    background-color: rgba(165, 214, 167, 0.3);
    color: white; }

.card__deck--card {
  position: relative;
  height: 8rem;
  width: calc(100% * (1/4) - 1rem - .1rem);
  margin: .3%;
  background: url("../img/cards.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  border-radius: .8rem;
  box-shadow: 0.5rem 0.2rem 2rem 0 rgba(46, 61, 73, 0.5);
  cursor: pointer; }
  .card__deck--card-fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__deck--card:nth-child(1) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(2) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(3) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(4) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(5) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(6) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(7) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(8) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(9) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(10) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(11) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(12) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(13) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(14) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(15) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .card__deck--card:nth-child(16) {
    flex-grow: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }

.header img {
  width: 100%; }

/* * * * Deck style * * * */
.card__deck {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  width: 50%;
  height: 70vh;
  padding: .5rem;
  background: url("../img/card-deck.jpg");
  border-radius: 1rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: space-between;
  align-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

/* * * * Score panel style * * * */
.score__panel {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0, -50%);
  height: 70vh;
  width: 20%;
  opacity: 0;
  visibility: hidden;
  background: url("http://www.alpacavekofarm.nl/wp-content/uploads/2014/07/hd-houten-achtergrond-voor-windows-houten-planken-wallpaper-foto2.jpg");
  border-radius: 1rem;
  color: white;
  text-align: center;
  padding: 1rem; }
  .score__panel--stars {
    width: 100%; }
  .score__panel--moves, .score__panel--timer, .score__panel--restart {
    display: block;
    margin-top: 2rem; }
  .score__panel--fa-star {
    margin-left: 0;
    padding: .5rem;
    display: inline-block;
    list-style: none; }
    .score__panel--fa-star:hover {
      cursor: pointer; }

/* * * * Utilities are helping classes that are being added only with javascript * * * */
.u-open {
  transform: rotateY(0);
  background: rgba(3, 169, 244, 0.3);
  cursor: default; }

.u-show {
  font-size: 2.8rem; }

.u-hide {
  opacity: 0;
  visibility: hidden; }

.u-match {
  cursor: default;
  background: rgba(2, 204, 186, 0.3);
  font-size: 2.8rem; }

.u-unmatched {
  animation-name: unmatched;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: .56s;
  background: rgba(244, 67, 54, 0.3); }

.u-disabled {
  pointer-events: none;
  border: .1rem solid darkred; }

.u-overlay {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(46, 61, 73, 0.5);
  opacity: .5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 2s ease-in-out; }

/* * * * Modal styling * * * */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  box-shadow: 0.5rem 0.5rem 3rem white;
  border-radius: 1rem;
  color: rgba(165, 214, 167, 0.3);
  visibility: hidden; }
  .modal__header--main {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem; }
  .modal__header--sub {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem; }
  .modal__user {
    width: 40vw;
    height: 15vw;
    background: url("../img/user_input_bg.jpg"); }
  .modal__congrats {
    width: 60vw;
    height: 30vw;
    background: url("../img/congrats_bg.jpg"); }
  .modal-show {
    box-shadow: inset 0rem 0.5rem 3rem rgba(165, 214, 167, 0.3);
    z-index: 15;
    opacity: 1;
    visibility: visible;
    animation: moveUp .5s ease-in-out 1; }
  .modal__statistics {
    padding: 1rem; }
  .modal__restart {
    text-align: center;
    margin-top: 3rem;
    z-index: 1;
    outline: none; }

@media only screen and (max-width: 500px) {
  .modal__user {
    width: 90%;
    height: 5rem; } }
@media only screen and (max-width: 700px) {
  .modal__user {
    width: 90%;
    height: 5rem; } }
.modal__user--form {
  position: relative;
  min-height: 100%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .modal__user--form-input {
    background: rgba(2, 204, 186, 0.3);
    box-shadow: 1rem 1rem 1rem rgba(46, 61, 73, 0.5);
    position: absolute;
    font-size: 2rem;
    color: white;
    min-height: 50%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2rem; }
    .modal__user--form-input::-webkit-input-placeholder {
      font-size: 1.5rem;
      text-align: center;
      color: white; }
  .modal__user--form-btn {
    display: none; }
.modal__user--logo {
  position: absolute;
  width: 50%;
  min-height: 3rem;
  max-height: 3.5rem;
  top: -100%;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 2rem; }
  .modal__user--logo > img {
    width: 100%; }

/* * * * Keyframes * * * */
@keyframes unmatched {
  0% {
    transform: scale3d(1, 1, 1) rotate(0deg); }
  50% {
    transform: scale3d(1.2, 1.2, 1.2); }
  70% {
    transform: scale3d(1.2, 1.2, 1.2) rotate(-15deg); }
  80% {
    transform: scale3d(1.2, 1.2, 1.2) rotate(15deg); }
  100% {
    transform: scale3d(1, 1, 1) rotate(0deg); } }
@keyframes moveUp {
  0% {
    transform: translate(-50%, -50%) scale(0); }
  50% {
    transform: translate(-50%, -50%) scale(1.2); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }

/*# sourceMappingURL=app.css.map */
