.header img {
    width: 100%;
}

.card__deck {
    &--card {
        height: 8rem;
        width: calc(100% * (1/4) - 1rem - 1rem);
        background: url("../img/cards.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        color: $color-white;
        border-radius: .8rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: .5rem .2rem 2rem 0 $color-dark;
    }
}

.modal__restart {
    &--btn {
        width: 50%;
        height: 3.5rem;
        border-radius: 1rem;
        background-color: transparent;
        color: $color-primary;
        border: .1rem solid $color-primary;
        z-index: 2;
        &:hover {
            background-color: $color-primary;
            color: $color-white;
        }
    }
}