.header img {
    width: 100%;
}

.card__deck {
    &--card {
        height: 125px;
        width: calc(100% * (1/4) - 10px - 1px);
        background: url("../img/cards.jpg");
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
        color: $color-white;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 2px 20px 0 $color-dark;
    }
}

.modal__restart {
    &--btn {
        width: 50%;
        height: 3.5rem;
        border-radius: 1rem;
        background-color: transparent;
        color: $color-primary;
        border: .1rem solid $color-primary;
        z-index: 2;
        &:hover {
            background-color: $color-primary;
            color: $color-white;
        }
    }
}