/* * * * Deck style * * * */ 

.card__deck {

    opacity: 0;
    visibility: hidden;
    
    width: 70%;
    min-height: 90vh;
    background: url("../img/card-deck.jpg");
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
    
}