.modal__user {
    &--form {
        position: relative;
        min-height: 100%;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &-input {
            background: $color-tertiary;
            box-shadow: 1rem 1rem 1rem $color-dark;
            position: absolute;
            font-size: 2rem;
            color: $color-white;
            min-height: 5rem;
            width: 70%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 1.2rem;
            &::-webkit-input-placeholder {
                font-size: 2rem;
                text-align: center;
                color: $color-white;
            }
        }

        &-btn {
            display: none;
        }
    }

    &--logo {
        position: absolute;
        width: 50%;
        min-height: 3rem;
        max-height: 3.5rem;
        top: 1rem;
        z-index: 2;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 2rem;

        &> img {
            width: 100%;
        }
    }
}