/* * * Layout styles * * * * */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 15%;
    position: absolute;
    top: 0;
    left: 1rem;
}
