/* * * * Utilities are helping classes that are being added only with javascript * * * */

.u-open {
    transform: rotateY(0);
    background: $color-secondary;
    cursor: default;
}

// This u-show class is used to show the cards
.u-show {
    font-size: 2.8rem;
}

.u-hide {
    opacity: 0;
    visibility: hidden;

}

.u-match {
    cursor: default;
    background: $color-tertiary;
    font-size: 2.8rem;
}

.u-unmatched {
    animation-name: unmatched;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .56s;
    background: $color-error;
}

.u-disabled {
    pointer-events: none;
    border: .1rem solid darkred;
}

.u-overlay {
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: $color-dark;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 2s ease-in-out;
}