
$color-primary: rgba(165, 214, 167, .3);
$color-secondary: rgba(3, 169, 244, .3);
$color-tertiary: rgba(2, 204, 186, .3);

$color-dark: rgba(46, 61, 73, 0.5);
$color-white: rgba(255, 255, 255, 1);

$color-error: rgba(244,67,54, .3);